<Ui xmlns="http://www.blizzard.com/wow/ui/">
  <Script file="settings.lua"/>
  <Frame name="SimpleMacroSettings" mixin="SimpleMacroSettingsMixin" hidden="true">
    <Scripts>
      <OnLoad method="OnLoad"/>
      <OnShow method="OnShow"/>
      <OnHide method="OnHide"/>
    </Scripts>
  </Frame>
</Ui>