<Ui xmlns="http://www.blizzard.com/wow/ui/">
  <Script file="menu.lua"/>

  <!-- Menu -->
  <Frame name="SimpleMacroFrame" mixin="SimpleMacroFrameMixin" toplevel="true"
         movable="true" parent="UIParent" enableMouse="true" hidden="true" inherits="ButtonFrameTemplate">
    <Size x="350" y="524"/>
    <KeyValues>
      <KeyValue key="maxTabWidth" value="140" type="number"/>
    </KeyValues>
    <Layers>
      <Layer level="OVERLAY">
        <Texture name="MacroFramePortrait" file="Interface\MacroFrame\MacroFrame-Icon">
          <Size x="60" y="60"/>
          <Anchors>
            <Anchor point="TOPLEFT" x="-5" y="5"/>
          </Anchors>
        </Texture>
      </Layer>
      <Layer level="ARTWORK">
        <Texture name="SimpleMacroHorizontalBarLeft" file="Interface\ClassTrainerFrame\UI-ClassTrainer-HorizontalBar">
          <Size x="256" y="16"/>
          <Anchors>
            <Anchor point="TOPLEFT" x="2" y="-210"/>
          </Anchors>
          <TexCoords left="0" right="1.0" top="0" bottom="0.25"/>
        </Texture>
        <Texture file="Interface\ClassTrainerFrame\UI-ClassTrainer-HorizontalBar">
          <Size x="75" y="16"/>
          <Anchors>
            <Anchor point="LEFT" relativeTo="SimpleMacroHorizontalBarLeft" relativePoint="RIGHT" x="0" y="0"/>
          </Anchors>
          <TexCoords left="0" right="0.29296875" top="0.25" bottom="0.5"/>
        </Texture>
      </Layer>
    </Layers>
    <Frames>
      <Frame name="$parentPanelContainer"/>
      <Button name="$parentTab1" inherits="PanelTabButtonTemplate" id="1" text="SIMPLE_MACRO_STRING_CREATE">
        <Anchors>
          <Anchor point="TOPLEFT" x="54" y="-20"/>
        </Anchors>
        <Scripts>
          <OnClick>
            self:GetParent():SelectTab(self);
          </OnClick>
        </Scripts>
      </Button>
      <Button name="$parentTab2" inherits="PanelTabButtonTemplate" id="2" text="SIMPLE_MACRO_STRING_GROUP">
        <Anchors>
          <Anchor point="LEFT" relativeTo="$parentTab1" relativePoint="RIGHT" x="-16" y="0"/>
        </Anchors>
        <Scripts>
          <OnClick>
            self:GetParent():SelectTab(self);
          </OnClick>
        </Scripts>
      </Button>
      <Button name="$parentExitButton" inherits="UIPanelButtonTemplate" text="SIMPLE_MACRO_STRING_EXIT">
        <Size x="86" y="22"/>
        <Anchors>
          <Anchor point="BOTTOMRIGHT" relativePoint="BOTTOMRIGHT" x="-5" y="4"/>
        </Anchors>
        <Scripts>
          <OnClick function="HideParentPanel"/>
        </Scripts>
      </Button>
    </Frames>
    <Scripts>
      <OnLoad method="OnLoad"/>
      <OnShow method="OnShow"/>
      <OnHide method="OnHide"/>
    </Scripts>
  </Frame>
</Ui>