<Ui xmlns="http://www.blizzard.com/wow/ui/">
   <Script file="menu.lua"/>
   <!-- Templates -->
   <CheckButton name="SimpleMacroButtonTemplate" inherits="PopupButtonTemplate" virtual="true">
      <Scripts>
         <OnLoad>
            self:RegisterForDrag("LeftButton")
         </OnLoad>
         <OnClick>
            SimpleMacroButton_OnClick(self, button, down)
         </OnClick>
         <OnDragStart>
            SimplePickupMacro(self)
         </OnDragStart>
      </Scripts>
   </CheckButton>
   <CheckButton name="SimpleMacroBaseCheckButtonTemplate" inherits="OptionsBaseCheckButtonTemplate" virtual="true">
      <Scripts>
         <OnClick>
            if self:GetChecked() then
               PlaySound(SOUNDKIT.IG_MAIN_MENU_OPTION_CHECKBOX_ON)
            else
               PlaySound(SOUNDKIT.IG_MAIN_MENU_OPTION_CHECKBOX_OFF)
            end
            SM_CheckButton_OnClick(self)
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="SimpleMacroCheckButtonTemplate" inherits="SimpleMacroBaseCheckButtonTemplate" virtual="true">
      <Layers>
         <Layer level="ARTWORK">
            <FontString name="$parentText" inherits="GameFontHighlight">
               <Anchors>
                  <Anchor point="LEFT" relativePoint="RIGHT">
                     <Offset>
                        <AbsDimension x="0" y="1"/>
                     </Offset>
                  </Anchor>
               </Anchors>
            </FontString>
         </Layer>
      </Layers>
   </CheckButton>
   <CheckButton name="SimpleMacroSmallCheckButtonTemplate" inherits="SimpleMacroBaseCheckButtonTemplate" virtual="true">
      <Layers>
         <Layer level="ARTWORK">
            <FontString name="$parentText" inherits="GameFontHighlightSmall">
               <Anchors>
                  <Anchor point="LEFT" relativePoint="RIGHT">
                     <Offset>
                        <AbsDimension x="0" y="4"/>
                     </Offset>
                  </Anchor>
               </Anchors>
            </FontString>
         </Layer>
      </Layers>
   </CheckButton>
   <CheckButton name="SM_ListEntryTemplate" inherits="OptionsListButtonTemplate" virtual="true">
      <Size x="244" y="16"/>
      <Layers>
         <Layer level="CONTENT">
            <FontString name="$parentNumber" inherits="GameFontHighlightSmall" text="number">
               <Anchors>
                  <Anchor point="LEFT">
                     <Offset>
                        <AbsDimension x="16" y="0"/>
                     </Offset>
                  </Anchor>
               </Anchors>
            </FontString>
            <FontString name="$parentInfo" inherits="GameFontHighlightSmall" text="command">
               <Anchors>
                  <Anchor point="LEFT" relativeTo="$parentNumber" relativePoint="RIGHT">
                     <Offset>
                        <AbsDimension x="24" y="0"/>
                     </Offset>
                  </Anchor>
               </Anchors>
            </FontString>
         </Layer>
      </Layers>
   </CheckButton>
   <CheckButton name="LineEntryTemplate" inherits="SM_ListEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            LineListEntry_OnClick(self, button, down)
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="ArgEntryTemplate" inherits="SM_ListEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            ArgListEntry_OnClick(self, button, down)
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="CondEntryTemplate" inherits="SM_ListEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            <!-- CondListEntry_OnClick(self, button, down) -->
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="SM_MacroEditorEntryTemplate" inherits="OptionsListButtonTemplate" virtual="true">
      <Size x="92" y="16"/>
      <Layers>
         <Layer level="CONTENT">
            <FontString name="$parentData" inherits="GameFontHighlightSmall" text="ERROR">
               <Anchors>
                  <Anchor point="CENTER">
                     <Offset>
                        <AbsDimension x="0" y="0"/>
                     </Offset>
                  </Anchor>
               </Anchors>
            </FontString>
         </Layer>
      </Layers>
   </CheckButton>
   <CheckButton name="SM_MacroEditorLineEntryTemplate" inherits="SM_MacroEditorEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            SM_MacroEditorLine_OnClick(self, button, down)
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="SM_MacroEditorArgEntryTemplate" inherits="SM_MacroEditorEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            SM_MacroEditorArg_OnClick(self, button, down)
         </OnClick>
      </Scripts>
   </CheckButton>
   <CheckButton name="SM_MacroEditorCondEntryTemplate" inherits="SM_MacroEditorEntryTemplate" virtual="true">
      <Scripts>
         <OnClick>
            SM_MacroEditorCond_OnClick(self, button, down)
         </OnClick>
      </Scripts>
   </CheckButton>
   <Frame name="SM_BackgroundTemplate" virtual="true">
      <Size>
         <AbsDimension x="324" y="156"/>
      </Size>
      <Backdrop bgFile="Interface\Tooltips\UI-Tooltip-Background" edgeFile="Interface\Tooltips\UI-Tooltip-Border" tile="true">
         <EdgeSize>
            <AbsValue val="16"/>
         </EdgeSize>
         <TileSize>
            <AbsValue val="16"/>
         </TileSize>
         <BackgroundInsets>
            <AbsInset left="5" right="5" top="5" bottom="5"/>
         </BackgroundInsets>
      </Backdrop>
      <Scripts>
         <OnLoad>
            self:SetBackdropBorderColor(TOOLTIP_DEFAULT_COLOR.r, TOOLTIP_DEFAULT_COLOR.g, TOOLTIP_DEFAULT_COLOR.b, 0)
            self:SetBackdropColor(0, 0, 0, .65)
         </OnLoad>
      </Scripts>
   </Frame>
   <!-- Menu -->
   <Frame name="SimpleMacroMenu" toplevel="true" movable="true" parent="UIParent" enableMouse="true" hidden="true">
      <Size>
         <AbsDimension x="350" y="524"/>
      </Size>
      <Anchors>
         <Anchor point="TOPLEFT">
            <Offset>
               <AbsDimension x="0" y="-104"/>
            </Offset>
         </Anchor>
      </Anchors>
      <Backdrop bgFile="Interface\DialogFrame\UI-DialogBox-Background" edgeFile="Interface\DialogFrame\UI-DialogBox-Border" tile="true">
         <BackgroundInsets>
            <AbsInset left="11" right="11" top="12" bottom="10"/>
         </BackgroundInsets>
         <TileSize>
            <AbsValue val="32"/>
         </TileSize>
         <EdgeSize>
            <AbsValue val="32"/>
         </EdgeSize>
      </Backdrop>
      <HitRectInsets>
         <AbsInset left="0" right="34" top="0" bottom="75"/>
      </HitRectInsets>
      <Frames>
         <Frame name="$parentPanelContainer">
            <Anchors>
               <Anchor point="TOPLEFT">
                  <Offset>
                     <AbsDimension x="8" y="-32"/>
                  </Offset>
               </Anchor>
               <Anchor point="BOTTOMLEFT">
                  <Offset>
                     <AbsDimension x="0" y="8"/>
                  </Offset>
               </Anchor>
               <Anchor point="RIGHT">
                  <Offset>
                     <AbsDimension x="-7" y="0"/>
                  </Offset>
               </Anchor>
            </Anchors>
            <Backdrop edgeFile="Interface\Tooltips\UI-Tooltip-Border" tile="true">
               <EdgeSize>
                  <AbsValue val="8"/>
               </EdgeSize>
               <TileSize>
                  <AbsValue val="16"/>
               </TileSize>
               <BackgroundInsets>
                  <AbsInset left="5" right="5" top="5" bottom="5"/>
               </BackgroundInsets>
            </Backdrop>
            <Scripts>
               <OnLoad>
                  self:SetBackdropBorderColor(.6, .6, .6, 1);
               </OnLoad>
            </Scripts>
         </Frame>
         <Button name="$parentTab1" inherits="OptionsFrameTabButtonTemplate" id="1" text="Create">
            <Anchors>
               <Anchor point="TOPLEFT">
                  <Offset>
                     <AbsDimension x="8" y="-8"/>
                  </Offset>
               </Anchor>
            </Anchors>
            <Scripts>
               <OnClick>
                  SimpleMacroMenuTab_OnClick(self)
                  PlaySound(SOUNDKIT.IG_CHARACTER_INFO_TAB)
               </OnClick>
            </Scripts>
         </Button>
         <Button name="$parentTab2" inherits="OptionsFrameTabButtonTemplate" id="2" text="Group">
            <Anchors>
               <Anchor point="LEFT" relativeTo="$parentTab1" relativePoint="RIGHT">
                  <Offset>
                     <AbsDimension x="-16" y="0"/>
                  </Offset>
               </Anchor>
            </Anchors>
            <Scripts>
               <OnClick>
                  SimpleMacroMenuTab_OnClick(self)
                  PlaySound(SOUNDKIT.IG_CHARACTER_INFO_TAB)
               </OnClick>
            </Scripts>
         </Button>
         <Button name="$parentCloseButton" inherits="UIPanelButtonTemplate" text="Close">
            <Size>
               <AbsDimension x="86" y="22"/>
            </Size>
            <Anchors>
               <Anchor point="BOTTOMRIGHT" relativePoint="BOTTOMRIGHT">
                  <Offset>
                     <AbsDimension x="-14" y="14"/>
                  </Offset>
               </Anchor>
            </Anchors>
            <Scripts>
               <OnClick function="SM_CloseButton_OnClick"/>
            </Scripts>
         </Button>
      </Frames>
      <Scripts>
         <OnLoad function="SimpleMacroMenu_OnLoad"/>
         <OnShow function="SimpleMacroMenu_OnShow"/>
         <OnHide function="SimpleMacroMenu_OnHide"/>
         <OnDragStart>
            self:StartMoving()
         </OnDragStart>
         <OnDragStop>
            self:StopMovingOrSizing()
         </OnDragStop>
      </Scripts>
   </Frame>
</Ui>